.Page-Header {
    width: 100%;
    z-index: 100;
    height: 80px;
    margin: 0 auto;
}
.wrapper {
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1240px;
    height: 160px;
    margin: 0 auto;
}