footer {
    background-color: #1A1A1A;
}
.Footer-menu li a, .Footer-logo {
    color: #e0e0d2;
}

.wrapper {
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1240px;
    height: 160px;
    margin: 0 auto;
}
