.social-buttons {
    width: 152px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: 15px;
}
.social a, .social a i  {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: #F7F7F7;
    border-radius: 32px;
    line-height: 32px;
    text-align: center;
    color: #1A1A1A;
    font-size: 20px;
}
.social a:hover i {
    color: rgb(0, 128, 81);
    transition: all 0.4s;  
}
