.logo-container {
   margin-right: auto;
   display: inline-block;
}
.Footer-logo {
    height: 32px;
    width: 152px;
    background-size: contain;
    font-size: 28px;
    font-weight: 700;
    color: #e0e0d2;
    padding-left: 10px;
}
.Footer-logo::before{
    content: "*";
    display: inline-block;
}
