main {
    position: relative;
}
.content__feed {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1240px;
    
}
.content_section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    border-radius: 8px;
    display: inline-block;
    position: relative;
    margin-bottom: 16px;
    margin-right: 16px;
    background-color: #fafafa;
    overflow: hidden;
    z-index: 11;
    Flex-basis: 560px;
    flex-grow: 1;
    height: 320px;
}
.postUrl {
    display: block;
    height: 100%;
    width: 100%;
}
.card-wrapper {
    width: 100%;
    height: 100%;
    /* position: relative; */
}

.cardImg {
    display: block;
    position: absolute;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
    transition: all 0.2s ease-in;
}
figure {
    max-width: 1160px !important;
    width: 100% !important;
    margin: 0 auto 48px !important;
}

.card-title {
    right: 60px;
    bottom: 56px;
    left: 60px;
    position: absolute;
}
.post-info {
    margin-bottom: 8px;
}
.post-Tag, .post-Date {
    display: inline-block;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: white;
    text-decoration: none;
}
.post-Date::before {
    content: '. ';
    box-sizing: inherit;
}
.card-title > h2 {
    font-size: 36px;
    line-height: 44px;
    color: #fff;
}
.card-title > h3 {
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    letter-spacing: -0.2px;
    font-weight: 500;
}

.top {
    box-shadow:0 20px 40px 0 rgba(0, 0, 0, 0.2);
}


.card:hover .cardImg {
    transform: scale(1.01);
    transition: all 0.2s ease-in;
}
.cardImgOverlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.50) 100%);
}
.card-wrapper::after {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    background-color: white;
    transition: all .2s ease-in-out;
  }
  .card:hover .card-wrapper::after {
      opacity: .1;
}



.load-more {
    position: relative;
    left: 0;
    width: 100%;
    padding: 64px 0 88px;
    font-size: 16px;
    color: #1A1A1A;
    text-align: center;
    letter-spacing: 0 11px;
    line-height: 24px;
    background-color: linear-gradient(-1deg, #FAFAFA 0%, #FFFFFF 100%);
    cursor: pointer;
}
.load-more span {
    position: relative;
}
.load-more span::before {
    position: absolute;
    content: " + ";
    border-radius: 50%;
    background: #000;
    color: white;
    line-height: 100%;
    width: 16px;
    height: 16px;
    top: 26px;
    left: calc(50% - 8px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.load-more:hover span {
    opacity: 0.7;
}
.load-more::after {
    content: "";
    display: block;
    clear: both;
}
