.Footer-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1240px;
    height: 80px;
    margin: 0 auto;
    padding: 0 40px;
    z-index: 3;
}
.Footer-menu {
    height: 80px;
}
.Footer-menu li {
    display: inline-block;
    line-height: 80px;
    margin-right: 40px;
    position: relative;
}
.Footer-menu li a {
    text-decoration: none;
    font-size: 16px;
    color: #e0e0d2;
    transition: color 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.Footer-menu li a:hover {
color: rgb(0, 128, 81);
}

.Footer-menu li a.active {
    color: rgb(0, 128, 81);
    text-decoration: underline;
}