.logo-container {
    display: inline-block;
    margin-right: auto;
}
.Header-logo {
    height: 32px;
    width: 152px;
    background-size: contain;
    font-size: 28px;
    font-weight: 700;
    color: #1A1A1A;
    padding-left: 10px;
}
.Header-logo::before{
    content: "*";
    display: inline-block;
}