.searchButton .btn {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}
.btn--search-close {
    display: none;
}
.searchButton {
    width: 152px;
    height: 32px;
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    z-index: 4;
    margin-left: auto;
}
.search {
    display: none;
}